
.header-nar {
    width:100%;
    background: #000;
    height:25px;
    color: #fff;
}

.header-nar .nar {
    position: absolute;
    margin-top: 5px;
    margin-left:40px;
}

.header-nar .nar .nar-item {
    float: left;
    margin-left:20px;
}

.header-nar .nari{
    margin-top:5px;
    float: right;
    margin-right:40px;
}
.header-nar .nari .item{
    float: left;
    margin-right:20px;

}

.header-nar .nari .item .item-col{
    background: blue;
}

.header-menu{
    position:relative;
    background: #3b3b3b;
    width:100%;
    height:50px;
}

.header-menu .menu{
    color: #fff;
    margin-left:30px;
}

.header-menu .menu .menus {
    float: left;
    margin-top:15px;
    margin-left:30px;
}

.header-menu .menu  :after {
    position: absolute;
    content: '';
    left: 470px;
    bottom: 0;
    width: 0;
    height:0;
    border-left:8px solid transparent;
    border-right:8px solid transparent;
    border-bottom:10px solid #fff;
}

.header-menu .header-search {
    float: right;
}

.header-menu .header-search .search{
    margin-top: 15px;
    float: left;
    margin-right:20px;
}

.header-height{
    height:40px;
}

.header-btn {
    float: left;
    margin-left: 4.5%;
    margin-top: 10px;
}

.header-btn .header-btns{
    float: left;
    margin-right:30px;
}

.header-btn .header-btns .bor{
    border-bottom:3px solid red;
    padding-bottom:10px;
}

.body-mes {
    height:200px;
    background: #F2F2F2;
}

.body-mes .body-hint{
    float: left;
    margin-left: 14%;
    margin-top: 70px;
}

.body-mes .body-hint .body-size{
    font-size:25px;
}

.body-mes .body-hint .body-font {
    font-size: 25px;
    color: #99CC00;
}

.body-mes .body-hint .body-font .body-fonts{
    border-bottom: 3px solid #99CC00;
}

.body-mes .body-right {
    float: right;
    margin-right: 15%;
    margin-top:70px;
}

.body-mes .body-right .body-size {
    font-size:50px;
}

.body-mes .body-right .body-size .size{
    color: #99CC00;
}

.body-mes .body-right .body-font {
    margin-left:50px;
}

.p{
    margin-left:5%;
    margin-top:10px;
}

.color{
    color: blue;
}

.public-body {
    position: relative;
    width:60%;
    margin-left: 5%;
}

.public-list {
    height:53px;
    border-bottom:1px solid #EEEEEE;
}

.public-list .b{
    margin-top:20px;
}

.public-list .c{
    margin-top:10px;
    font-size: 12px;
    color: #A9A9A9;
}

.lists {
    height:53px;
    border-bottom:1px solid #EEEEEE;
}
.public-body .lists .left {
    display: inline-block;
    margin-top:15px;
}

.public-body .lists .right {
    float: right;
    width:180px;
    height:33px;
    margin-top:10px;
    margin-right:50px;
    background: #6633CC;
    color: #fff;
}

 .body-rights {
     float: right;
     display: inline-block;
     border:1px solid #EEEEEE;
     margin-right: 13%;
     width:273px;
     height: 263px;
}
 
 .body-lefts {
     text-align: center;
     margin-top:146px;
 }
 
 .bulk {
     display: block;
     margin-top: 20px;
 }

.public-body .doc {
    border-bottom:1px solid #EEEEEE;
    margin-top:40px;
}

.por {
    padding-bottom: 15px;
    border-bottom:1px solid #EEEEEE;
    margin-top:5px;
    color: #A9A9A9;
    font-size:12px;
}

.public-body .body-form {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom:1px solid #EEEEEE;
}

.public-body .body-form .form{
    color: #666;
}

.public-body .body-img {
    border-bottom:1px solid #EEEEEE;
    color:#000;
    padding-top: 23px;
    padding-bottom:43px;
}

.public-body .body-img .img {
    float: left;
    color: #000;
    margin-left:20px;
}

.public-body .body-img .img-right {
    float: right;
    margin-right:10px;
}

.img-left {
    float: left;
    margin-left:20px;
}

.list-box {

}

.user {
    margin-top:40px;
}

.list-box .name {
    display: block;
    height:48px;
    border-bottom:1px solid #EEEEEE;
}

.names{
    float: left;
    margin-top: 16px;
}

.tool{
    float: right;
    margin-top: 14px;
    margin-right:10px;
}