// color

$Default-color: #2978F5;

$Positive-color: #5ecc62;

$Warning-color: #fcb314;

$Negative-color: #FF4C4C;

$Disastrous-color: #9013FE;

$Font-color: #1C222B;

$Background-color: #1F2D3D;

$Border-color: #ABB8CB;