
.head-nav {
    width:100%;
    height:30px;
    background: #000;
    font-family: ArialMT;
    font-size: 13px;
    color: #FCFCFD;
}

.head-menu {
    height:50px;
    background: #3b3b3b;
}

.public-container {
    width:80%;
    margin:0 auto;
}

.nav-left {
    float: left;
}

.nav-left li {
    list-style:none;
    float: left;
    margin-top:6px;
    margin-right:20px;
}

.nav-right {
    float: right;
}

.color {
    background: #1774bb;
}

.nav-right li {
    list-style:none;
    float: left;
    margin-left:20px;
    padding-top:9px;
    padding-bottom:6px;
}

.menu-left {
    float: left;
}

.menu-left li {
    list-style:none;
    padding-top:16px;
    padding-bottom:16px;
    float: left;
    margin-right:20px;
    font-family: Arial-BoldMT;
    font-size: 16px;
    color: #FFFFFF;
}

.item {
    position: relative;
}

.item:after {
    position: absolute;
    content: '';
    left: 10px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid #fff;
}
.menu-right {
    float: right;
}

.menu-right input {
    float: left;
    margin-top:10px;
    margin-left:20px;
}

.body-box {
    width:78%;
    margin:0 auto;
}

.body-box h3 {
    padding-top:40px;
    padding-bottom:20px;
    border-bottom:1px solid #EEEEEE;
}

.body-box p {
    margin-top:20px;
    ont-family: ArialMT;
    font-size: 12px;
    color: #4A4A4A;
}

.body-box ul{
    list-style:none;
    margin-top:13px;
    font-family: ArialMT;
    font-size: 12px;
    color: #444444;
}

.img{
    display: inline-block;
    height:18px;

}

ul .size{
    display: inline-block;

}

.font {
    margin-bottom:10px;
    display: inline-block;

}
.body-box ul {
    list-style:none;
    padding-bottom:38px;
    border-bottom:1px solid #EEEEEE;
}

.btn {
    padding-top:20px;
}

.btn1 {
    width:180px;
    height:33px;
    border:2px solid #1774bb;
    font-family: ArialMT;
    font-size: 15px;
    color: #1774BB;
    background: rgba(255,255,255,0.05);
    border-radius: 2px;
}

.btn2 {
    margin-left:20px;
    background: #6633CC;
    width:180px;
    height:33px;
    font-family: ArialMT;
    font-size: 15px;
    color: #FFFFFF;
    border-radius: 2px;
}