.nav-background-color {
    background: #000;
    color: #FFFFFF;
}

.nav-background-color1 {
    background: #3b3b3b;
    color: #FFFFFF;
}

.navbar-nav a {
    color:white;
}

.menu-color {

    font-family: HelveticaNeue;
    font-size: 13px;
    color: #444444;
}

.bck-color1 {
    background: #1774BB;
}

.padding-t5 {
    padding-top:5px;
}

.padding-btm7 {
    padding-bottom:7px;
}

.margin-l20{
    margin-left:20px;
}

.margin-r20 {
    margin-right:20px;
}

.border-btm1 {
    border-bottom:1px solid #EEEEEE;
}

.height50 {
    height:50px;
}

.height38 {
    height:38px;
}

.menu-triangle {
    position: relative;
}

.menu-triangle:after {
    position: absolute;
    content: '';
    left: 22px;
    bottom: 0;
    width: 0;
    height:0;
    border-left:8px solid transparent;
    border-right:8px solid transparent;
    border-bottom:10px solid #fff;
}

.f20{
    font-family: ArialMT;
    font-size: 20px;
    color: #FFFFFF;
}

.padding-t10 {
    padding-top:10px;
}

.height40 li{
    color: #666666;

}

.padding-btm5{
    padding-bottom:5px;
}

.border-btm3 {
    border-bottom:3px solid  #99CC01;
}

.margin-btm20{
    margin-bottom:20px;
}

.public-font-color {
    opacity: 0.6;
    color: #444444;
}

.f15{
    font-family: ArialMT;
    font-size: 15px;
    color: #A9A9A9;
    letter-spacing: 0;
    line-height: 11px;
}

.font-size {
    font-family: Arial-BoldMT;
    color: #444444;
}

.f13 {
    font-size: 13px;
}

h3{
    font-family: ArialMT;
    font-size: 16px;
    color: #242424;
}

p{
    font-family: ArialMT;
    font-size: 13px;
    color: #242424;
    line-height: 18px;
    margin:0 0 20px;
}

.background-btn{
    background: #6633CC;
    border-radius: 2px;
    font-family: ArialMT;
    font-size: 15px;
    color: #FFFFFF;
}

h3 {
    margin-top: 10px;
}

.padding-t30{
    padding-top:30px;
}

.right-box {
    border:1px solid #EEEEEE;
    height:273px;
    margin-left:29px;
    text-align: center;
}

.help {
    margin-top:40px;
    margin-left:0;
    width:80px;
    height:80px;
}

.margin-t20{
    margin-top:20px;
}