.application-control {
  margin: 20px 0;
  > ul {
    border-top: 1px solid #eee;
    margin-bottom: 25px;
    > li {
      border-bottom: 1px solid #eee;
      padding: 10px 0px;
      font-size: 15px;
      position: relative;
      list-style: none;
      & .application-btn {
        height: 38px;
        line-height: 38px;
        > span {
          padding-left:20px;
        }
        & .dropdown-list{
          position: absolute;
          display: none;
          float: right;
          right: 0px;
          z-index: 100;
          background: #fff;
          border: 1px solid #EEE;
          margin-top: 40px;
          > li {
            list-style: none;
            border-bottom: 1px solid #EEE;
            padding: 0px 20px;
          }
        }
      }
      & .application-group {
        position: absolute;
        right: 20px;
        top: 10px;
        > a {
          padding: 5px 5px;
          &:hover {
            text-decoration: none;
            color: $Default-color-light2;
          }
          > i {
            margin-top: -3px;
            font-size: 15px;
            text-decoration: none;
            vertical-align: middle;
            margin-right: 5px;
            font-style: normal;
          }
        }
      }
    }
  }
}

.application-box {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;

}

.statement {
  padding-left: 45px;
  & li {
    list-style: disc;
    & a {
      text-decoration: none;
    }
  }
}

.application-title {
  height: 38px;
  line-height: 38px;
  margin-bottom: 0;
  font-size: $font-20;
  color: $Font-color-light4;
}

.input-hide ul {
  display: none !important;
}

.glyphicon-menu-up {
  color: #B5BAC6;;
  top: 3px;
  transform: rotate(180deg);
  transition: all 0.6s ease-in-out;
}

.collapsed {
  transform: rotate(0deg);
  transition: all 0.6s ease-in-out;
}

.application-file {

  > h4 {
    color: #aebacb;
  }
  & ul {
    border-top: 1px solid #eee;
    margin-bottom: 25px;
    & li {
      border-bottom: 1px solid #eee;
      padding: 15px 20px;
      font-size: 15px;
      position: relative;
      list-style: none;
      > span {

      }
      & .application-group {
        position: absolute;
        right: 20px;
        top: 15px;
        > a {
          padding: 5px 5px;
          &:hover {
            text-decoration: none;
            color: $Default-color-light2;
          }
          > i {
            margin-top: -3px;
            font-size: 15px;
            text-decoration: none;
            vertical-align: middle;
            margin-right: 5px;
            font-style: normal;
          }
        }
      }
    }
  }
}

.form-body {
  padding: 20px 0;
}

.user-list {
  > ul {
    border-top: 1px solid #eee;
    margin-bottom: 25px;
    & .list-group {
      position: relative;
      display: block;
      padding: 12px 15px;
      margin-bottom: -1px;
      & a {
        float: right;
        top:4px;
      }
    }
    > li {
      border-bottom: 1px solid #EEE;
    }
  }
  /*> ul {
    border-top: 1px solid #eee;
    margin-bottom: 25px;
    > li {
      border-bottom: 1px solid #eee;
      padding: 10px 0;
      font-size: 15px;
      position: relative;
      list-style: none;
      > span {
        padding-left: 20px;
      }
      & .form-group {
        position: absolute;
        right: 20px;
        top: 10px;
      }
    }
  }*/
}

.open + ul {
    display: block;
}