.tip {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1060;
  max-width: 21.875rem;
  text-align: left;
  background-color: #FFFFFF;
  border-radius: 3px;
  padding: 5px 5px;
  color: #666666;
  display: inline-block;
}

.tip:before {
  content: "";
  bottom: -8px;
  position: absolute;
  display: block;
  width: 8px;
  height: 8px;
  background: #FFFFFF;
  -webkit-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
}

.tip.left:before {
  content: "";
  bottom: -8px;
  position: absolute;
  display: block;
  width: 8px;
  height: 8px;
  left: 84%;
  background: #FFFFFF;
  -webkit-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
}



.tip-progress-bar {

  > span {
    content: "";
    position: absolute;
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 100px;
    margin-top: 3px;
    left: 1%;
    background: #4A6200;
  }
  > span:nth-of-type(2) {
    left: 70%;
  }

  > span:last-child {
    left: 97%;
  }

}
/*
.tip-progress-bar:before {
  content: "";
  position: absolute;
  display: block;
  width: 40%;
  height: 12px;
  border-radius: 100px;
  background: #99CC00;
}
*/

