.head-nav {
    width:100%;
    height:30px;
    background: #000;
    font-family: ArialMT;
    font-size: 13px;
    color: #FCFCFD;
}

.head-menu {
    height:50px;
    background: #3b3b3b;
}

.public-container {
    width:80%;
    margin:0 auto;
}

.nav-left {
    float: left;
}

.nav-left li {
    list-style:none;
    float: left;
    margin-top:6px;
    margin-right:20px;
}

.nav-right {
    float: right;
}

.color {
    background: #1774bb;
}

.nav-right li {
    list-style:none;
    float: left;
    margin-left:20px;
    padding-top:9px;
    padding-bottom:6px;
}

.menu-left {
    float: left;
}

.menu-left li {
    list-style:none;
    padding-top:16px;
    padding-bottom:16px;
    float: left;
    margin-right:20px;
    font-family: Arial-BoldMT;
    font-size: 16px;
    color: #FFFFFF;
}

.item {
    position: relative;
}

.item:after {
    position: absolute;
    content: '';
    left: 10px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid #fff;
}
.menu-right {
    float: right;
}

.menu-right input {
    float: left;
    margin-top:10px;
    margin-left:20px;
}

.body-box {
    float: left;
    width:68%;
}

.head-option {
    height:39px;
    border-bottom:2px solid #EEEEEE;
    margin-bottom:20px;
}

.public-style {
    width:78%;
    margin:0 auto;
}

.head-option li{
    list-style:none;
    float: left;
    padding-top:14px;
    padding-bottom:7px;
    margin-right:20px;
    font-family: ArialMT;
    font-size: 13px;
    color: #242424;
}

.head-option li.public-line {
    font-family: Arial-BoldMT;
    font-size: 13px;
    color: #242424;
    border-bottom:3px solid red;
}

.main {
    width:75%;
    float: left;
}

.main-menu {
    width:100%;
}

.float-l{
    float: left;
}

.float-r {
    float: right;
}

ul,li{
    list-style:none;
}

.width{
    width:25%;
}

.main-menu1{
    display: block;
    text-align: center;
    padding-top:27px;
    padding-bottom:30px;
    font-family: ArialMT;
    font-size: 13px;
    color: #808080;
}

.margin-l1{
    margin-left:1px;
}

.border-bt5{
    border-bottom:5px solid #99CC00;
}

.border-bt{
    border-bottom:5px solid  #D8D8D8;
}

.main-state {
    clear: both;
    padding-top:40px;
    width:100%;
}

.main-left {
    width:45%;
}

.main-right {
    width:55%;
}

.padding-t20{
    padding-top:20px;
}

.padding-t30 {
    padding-top:30px;
}

.padding-t50 {
    padding-top:50px;
}
.main-left p{
    color: #444444;
}

.f14{
    font-family: ArialMT;
    font-size: 14px;
}

.img{
    margin-left:47px;
}

.clear {
    clear: both;
}

.main-btn {
    width:47%;
}

.main-btn1 {
    width:53%;
}


.btn-r {
    margin-left:23px;
}

laber {
    display: block;
    margin-bottom:5px;
    font-family: ArialMT;
    font-size: 12px;
    color: #4A4A4A;
}

.laber1 {
    display: block;
    margin-bottom:5px;
}

.main-box {
    height:73px;
    width:100%;
    clear: both;
    border-top:1px solid #EEEEEE;
    border-bottom:1px solid #EEEEEE;
}

.f15{
    font-family: ArialMT;
    font-size: 15px;
}

.margin-t20 {
    margin-top:20px;
}

.main-box button{
    width:180px;
    height:33px;
    background: #1774bb;
    color: #FFF;
}

.inp{
    margin-bottom:40px;
}

.margin-t40{
    margin-top:40px;
}

.hint {
    width:25%;
    float: left;
}

.hint-box {
    border:1px solid #EEEEEE;
    margin-left:27px;
    height:273px;
    text-align: center;
}


.hint-box img{
    margin-left:30%;
    height:80px;
}

.f18{
    font-family: ArialMT;
    font-size: 18px;
}

.hint-cen {
    margin-top:41px;
    color: #4A4A4A;
}

.phone {
    margin-top:20px;
}